////////////////////////////
///
/// Font Stacks & Vars
///
////////////////////////////

@font-face {
    font-family : 'brandon_light';
    font-weight : normal;
    font-style  : normal;
    src         : local 'Brandon Grotesque Regular Light';
    src         : url(../../assets/fonts/brandon_light-webfont.woff2) format('woff2');
    src         : url(../../assets/fonts/brandon_light-webfont.woff) format('woff');
}

@font-face {
    font-family : 'brandon_regular_italic';
    font-weight : normal;
    font-style  : normal;
    src         : local 'Brandon Grotesque Regular Italic';
    src         : url(../../assets/fonts/brandon_reg_it-webfont.woff2) format('woff2');
    src         : url(../../assets/fonts/brandon_reg_it-webfont.woff) format('woff');
}

@font-face {
    font-family : 'brandon_regular';
    font-weight : normal;
    font-style  : normal;
    src         : local 'Brandon Grotesque Regular Regular';
    src         : url(../../assets/fonts/brandon_reg-webfont.woff2) format('woff2');
    src         : url(../../assets/fonts/brandon_reg-webfont.woff) format('woff');
}

@font-face {
    font-family : 'brandon_bold';
    font-weight : normal;
    font-style  : normal;
    src         : local 'Brandon Grotesque Regular Bold';
    src         : url(../../assets/fonts/brandon_bld-webfont.woff2) format('woff2');
    src         : url(../../assets/fonts/brandon_bld-webfont.woff) format('woff');
}

// Brandon Grotesque
$brandon-light : 'brandon_light', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$brandon-regular : 'brandon_regular', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$brandon-italic : 'brandon_reg_italic', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$brandon-bold : 'brandon_bold', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;

// Font vars
$sans         : $brandon-regular;
$sans--light  : $brandon-light;
$sans--italic : $brandon-italic;
$sans--bold   : $brandon-bold;
