////////////////////////////
///
/// Inline Typography Component Styles
///
////////////////////////////

// links
.a {
    color           : $primary;
    font-family     : $sans;
    background      : transparent;
    cursor          : pointer;
    transition      : color 200ms ease;
    text-decoration : none;

    &:focus {
        outline : none;
    }

    &:hover,
    &:active {
        text-decoration : none;
        color           : shade($primary, 10%);
        outline         : 0;
    }

}

// inline modifiers

.p {
    display       : block;
    font-family   : $sans;
    color         : $gray--500;
    padding       : rem-calc(5 0);
    font-size     : 1rem;
    line-height   : 1.2;
    margin-bottom : rem-calc(10);
}

.b,
.strong {
    font-weight : bold;
}

.i,
.em {
    font-family : $sans--italic;
}

.small {
    font-size : 80%;
}

.typography {

    a {
        @extend .a;
    }

    b {
        @extend .b;
    }

    strong {
        @extend .strong;
    }

    i {
        @extend .i;
    }

    em {
        @extend .em;
    }

    small {
        @extend .small;
    }
}
