////////////////////////////
///
/// Form Input Styles
///
////////////////////////////

$form-input-font-size              : rem-calc(16);
$form-input-font-color             : $black;
$form-input-padding                : rem-calc(15);
$form-input-border-color           : $gray--200;
$form-input-placeholder-font-color : $gray--200;

.input {
    display          : block;
    width            : 100%;
    font-family      : $sans;
    font-size        : $form-input-font-size;
    color            : $black;
    text-shadow      : none;
    box-shadow       : none;
    border           : none;
    background-color : transparent;
    background-image : none;
    padding          : 0;
    transition       : background 250ms ease;

    // placeholder styles
    @include placeholder {
        font-family : $sans;
        font-size   : $form-input-font-size;
        color       : $form-input-placeholder-font-color;
        text-shadow : none;
    }

    // focus styles
    &:focus {
        outline      : none;
        color        : $form-input-font-color;
    }

}
