////////////////////////////
///
/// Footer Component Styles
///
////////////////////////////

.footer {
    padding     : rem-calc(20);
    height      : rem-calc(30);
    line-height : rem-calc(20);
    text-align  : center;
    font-size   : rem-calc(11);

    &__content {
        padding : rem-calc(10);
    }

}
