////////////////////////////
///
/// Footer Component Styles
///
////////////////////////////

.footer {
    padding    : rem-calc(10);
    background : $gray--100;
    text-align : center;
    font-size  : rem-calc(11);
}
