////////////////////////////
///
/// Header Component Styles
///
////////////////////////////

.header {
    position   : relative;
    width      : 100%;
    overflow   : hidden;
    min-height : rem-calc(280);
    max-height : rem-calc(280);

    img {
        max-width : 100%;
        height    : auto;
    }
}

.header__message {
    @include absolute(middle);
    width      : 100%;
    text-align : center;
    color      : $white;
}
