////////////////////////////
///
/// Header Component Styles
///
////////////////////////////

.header {
    position   : relative;
    width      : 100%;
    overflow   : hidden;
    min-height : 70vh;
    background-position : center;
    background-size : cover;
}

.header__message {
    @include absolute(middle);
    width      : 100%;
    text-align : center;
    color      : $white;
}
