////////////////////////////
///
/// Menu Component Styles
///
////////////////////////////

$menu-height : rem-calc(40);

.menu {
    border-bottom : 1px solid $gray--100;
}

.menu-item__wrapper {
    display         : flex;
    justify-content : center;
    align-content   : center;
    max-width       : rem-calc(320);
    margin          : 0 auto;
}

.menu-item {
    flex-grow       : 1;
    border-bottom   : 2px solid transparent;
    text-align      : center;
    line-height     : $menu-height;
    text-decoration : none !important;
    transition      : border-bottom 250ms ease;

    &.active {
        border-bottom : 2px solid $primary;
        transition    : border-bottom 250ms ease;
    }

}
