
.registry__item {
    text-align  : center;
    cursor      : pointer;
    user-select : none;

    img {
        width      : 100%;
        height     : auto;
        border     : 1px solid $gray--100;
        transition : border 300ms ease;
    }

    &:hover {
        img {
            border : 1px solid $gray--200;
        }

        .registry__item__label {
            text-decoration : none;
            color           : $gray--800;
        }

    }

}

.registry__item__label {
    display     : block;
    padding     : rem-calc(5 0);
    font-family : $sans--bold;
    color       : $gray--100;
    transition  : color 300ms ease;
}
